/* 
 * date: October 9th, 2020
 * name: Jii Eu
 */

/*
  * stack overflow: prevent selecton
  * begin::
 */

::selection {
    background: transparent;
    color: inherit;
}

::-moz-selection {
    background: transparent;
    color: inherit;
}

.card,
button {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
    user-select: none;
}

/* end:: */

#bookshelf {
    display: flex;
    flex-wrap: wrap;
}

/******************************************
   * book cards
   *****************************************/
.card {
    min-width: 200px;
    min-height: 200px;
    margin: 5px;
    cursor: pointer;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10%;

    text-align: center;
}

/* Set the size of the book cover in card */
.card img {
    padding: 15px 5px 0 5px;
    width: 135px;
    height: 150px;
    border-radius: 10%;
}

.card .delete-btn {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 133, 133);
}

/* Set the text desgin for Card */
.card p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);

}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/******************************************
   * add button
   *****************************************/
/* A button to add a new book */
#add-book img {
    margin-top: 2.5em;
    opacity: 25%;
    width: 100px;
    height: 100px;

    transition: opacity 0.3s;
}

#add-book :hover {
    opacity: 50%;
}

/******************************************
   * Form to add a new book
   *****************************************/
#new-book-form {
    /* center the form */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* design the form */
    border-radius: 10%;
    padding: 15px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    width: 25em;
    height: 11em;
}

#form-body {
    margin: 5px;
}

#form-body input {
    margin: 3px;
}


/******************************************
   * Form buttons
*****************************************/
div#form-btn {
    width: 45%;
    margin: 15px auto;
}

#form-body #radio-btn div {
    width: 100%;
}

#form-body div#radio-btn {
    display: flex;
    align-content: space-between;
}

/******************************************
   * Legend - Read, Reading, Not yet
 *****************************************/

 div#header {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 70px;

    margin-bottom: 20px;
}

div#header button {
    font-family: 'Caveat', cursive;
    font-size: 25px;

    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    margin-left: 33px;
    width: 110px;

}

div#header button#legend-read {
    background-color: rgb(171, 245, 171);
}

div#header button#legend-reading {
    background-color: rgb(255, 255, 195);
}

div#header button#legend-not-yet {
    background-color: rgb(255, 189, 189);
}

/******************************************
   * Card - read design
   *****************************************/
div.read {
    background-color: rgb(217, 241, 217);
}

div.reading {
    background-color: rgb(242, 242, 210);
}

div.not-yet {
    background-color: rgb(254, 213, 213);
}